# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# ignores the custom modules from RK
profiles/os2dagsorden/modules/RK_os2_modules/
